.error {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-family: 'Source Sans Pro', sans-serif;
}

/* [ICONS] */
i.ico {
  padding: 0.5em;
  width: 20px;
  text-align: center; 
  font-style: normal;
}

/* [CLOSE BUTTON] */
.error figure.close {
  padding: 0.5em;
  margin: 0;
  text-align: center; 
  color: #a33a3a;
  cursor: pointer;
}