header.profile {
  height: 400px;
  width: 100%;
  background-color: #7ec4f2;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: #b1d1df;
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}