/* tweeter header specifics */
.navbarTxt {
    font-family: 'Bungee', cursive;
    font-size: 32px;
}

nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}
