/* tweeter header specifics */
.navbarTxt {
    font-family: 'Bungee', cursive;
    font-size: 32px;
}

nav {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: #b1d1df;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    top: 0px;
    z-index: 1;
}

/* button as text*/
.asText {
    background:none;
    border:none;
    margin:0;
    cursor: pointer;
    color: #ffffff; 
}
