/* main specifics */
.new-tweet {
  width: 100%;
  margin-top: 1.5em;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  background-color: transparent;
  outline: none;
  border: none;
  /* resize means that you can't adjust input box, hides the triangle in bottom corner */
  resize: none;
  font-size: 14px;
  border-bottom: 5px dotted #4056A1;
}

/* tweet button */
.new-tweet button {
  color: white;
  background-color: #4056A1;
}

/* word count and button placement */
.new-tweet div { 
  display: flex;
  margin-top: 0.5em;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

.new-tweet label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 5px dotted #4056A1;
  margin-bottom: 0.5em;
}
