/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  header.profile {
    width: 25%;
    float: left;
    margin-top: 7em;
    margin-left: 1.5em;
  }
  main {
    max-width: 1024px;
    /* 7 minus 1.5 for new-tweet has margin of 1.5, padding .5 on label */
    margin-top: 5.0em;
    width: 60%;
    float: right
  }
}