/* outline border and general container */
.tweet-container article.tweet {
  width: 100%;
  border: 1px #4056A1 solid;
  margin: 1.5em;
  margin-top: auto;
  padding: 10px;
  opacity: 0.5;
}

.tweet-container {
  display: flex;
  background-color: transparent;
  outline-color: #b1d1df;
  color: #979b9b; 
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
  font-size: 20px;
  padding: 1em;
  transition: box-shadow .3s;
}

/* header with class user which has image and name and username */
.tweet-container article header {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: rgb(84,81,73);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  margin-bottom: 1em;
}

/* for name and avatar placement */
.tweet-container article header div.user {
  display: flex;
  align-items: center;
}

.tweet-container article .name {
  display: flex;
  align-items: center;
}

/* profile picture and name */
.tweet-container article .name img {
  width: 50px;
  height: 50px;
}

/* colours the username lighter */
.tweet-container .handle {
  color: #979b9ba6; 
}

.tweet-container article title {
  width: 100%;
  color: rgb(84,81,73);
  display: flex;
  align-items: flex-start;
  border-bottom: 5px dotted #4056A1;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tweet-container article footer {
  display:flex;
  width: 100%;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.tweet-container article .subnotes {
  display:flex;
  flex-direction: row;
  width: min-content;
  margin: 0.2em;
}

.tweet-container .subnotes .fas.fa-heart,
.tweet-container .subnotes .fas.fa-flag {
  margin-right: 0.5em;
}

.tweet-container article:hover {
  box-shadow: 10px 10px 8px #888888; 
  opacity: 1;
}
